graphviz==0.16
imblearn==0.8.0
matplotlib==3.3.4
ml_class
mpl_toolkits
neuropy_correlation
neuropy_frequentist_statistics
numpy==1.19.2
pandas==1.2.3
plotly==4.14.3
seaborn==0.11.1
session_info==1.0.0
sklearn==0.24.1
IPython==7.21.0
jupyter_client==6.1.7
jupyter_core==4.7.1
jupyterlab==2.2.6
notebook==6.2.0
