catboost==1.0.6
jmspack==0.1.1
matplotlib==3.5.1
numpy==1.23.0
pandas==1.4.2
pingouin==0.5.1
seaborn==0.11.2
session_info==1.0.0
shap==0.39.0
scikit-learn>=1.2.2
statsmodels==0.13.2
IPython==8.2.0
jupyter_client==7.1.2
jupyter_core==4.9.2
jupyterlab==3.3.2
notebook==6.4.8
